.main_side_bar {
  width: 65px;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main_side_bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workspace_icon{
  width: 36px;
  height: 36px;
  border-radius: 50px;
  margin: 10px 0px 0px;
  cursor: pointer;
  background-image: url("https://facesconsent.com/images/default-thumbnail.png");
  background-size: 100% 100%;
}

.setting_btn {
  font-size: 28px;
  cursor: pointer;
  margin: 24px 0px;
  color: var(--c-ink-light);
}

.setting_btn:hover {
  color: var(--c-purple-dark);
}

.profile_btn {
  width: 46px;
  height: 46px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 24px;
}
