.main_overview {
  font-size: 28px;
  color: var(--c-ink);
  font-weight: 700;
  padding-bottom: 22px;
}

.card_overall {
  padding: 20px;
  /* width: 1213px; */
  width: 100%;
  height: 450px;
  border-radius: 10px;
  background-color: var(--color-white);
}

.card_overall:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 8px rgb(40 46 66 / 20%);
}
